<h2>Adding Movies</h2>
<hr>
<form (ngSubmit) = "savedata(playerdata)" #movieform = "ngForm">
    <div>
        <label for = "name">Movie Name</label>
        <input type ="text" id = "name" name = "name" placeholder="enter Player Name" [(ngModel)] = "playerdata.name" required #name = "ngModel">
     </div>

    <div>
        <label for = "age">Age</label>
        <input type ="text" id = "age" name = "age" placeholder="enter age" [(ngModel)] = "playerdata.age" #age = "ngModel" min="1" max="45">
     </div>

    <div>
        <label for = "category">Category</label>
        <input type ="text" id = "category" name = "category" placeholder="enter category" [(ngModel)] = "playerdata.category" required #category = "ngModel">
     </div>
    <div>
        <label for = "biddingprice">BiddingPrice</label>
        <input type ="text" id = "biddingprice" name = "biddingprice" placeholder="enter biddingprice" [(ngModel)] = "playerdata.biddingprice" required #biddingprice = "ngModel">
     </div>
     <br><br>
     <p>
        <input type = "submit" value = "Save" class = "btn btn-Info" [disabled] = "!movieform.valid">
     </p>
</form>